[submodule "ros2_ws/src/usb_cam"]
	path = ros2_ws/src/usb_cam
	url = https://github.com/Geicar-Marcycle/usb_cam.git
	branch = main
[submodule "ros2_ws/src/interfaces"]
	path = ros2_ws/src/interfaces
	url = https://github.com/Geicar-Marcycle/interfaces.git
	branch = main
[submodule "ros2_ws/src/geicar_start_jetson"]
	path = ros2_ws/src/geicar_start_jetson
	url = https://github.com/Geicar-Marcycle/geicar_start_jetson.git
	branch = main
[submodule "ros2_ws/src/system_check_ack"]
	path = ros2_ws/src/system_check_ack
	url = https://github.com/Geicar-Marcycle/system_check_ack.git
	branch = main
[submodule "ros2_ws/src/rplidar_ros2"]
	path = ros2_ws/src/rplidar_ros2
	url = https://github.com/Geicar-Marcycle/rplidar_ros.git
	branch = main
